$background-color: hsla(240, 24%, 100%, 0.3);
$font-size: 1rem;
$bar-height: 1.8rem;
$letter-spacing: .3px;

* {
  font-family: 'NotoSans Nerd Font';
  font-size: $font-size;
}

window {
  background: none;
}

.bar {
  background-color: $background-color;
  min-height: $bar-height;
}

.nixos {
  margin: 0 0 0 .5rem;
  padding: 0 .7rem;
}

.time {
  letter-spacing: $letter-spacing;
  margin: 0 .5rem;
}

button {
  background: none;
  border-style: none;
  padding: 0 .5rem;
}
